<div class="mat-card">
  <div class="mat-card-content">
    <div class="mat-card-title">
      <h2>Menu de Gerenciamento</h2>
    </div>
    <div class="mat-card-subtitle">
      <p>CRUD Angular - Desenvolvimento Web II</p>
      <div class="mat-button-container">
        <button mat-raised-button color="primary" routerLink="/ator">Ator</button>
        <button mat-raised-button color="primary" routerLink="/classe">Classe</button>
        <button mat-raised-button color="primary" routerLink="/diretor">Diretor</button>
        <button mat-raised-button color="primary" routerLink="/titulo">Titulo</button>
      </div>
    </div>
  </div>
</div>
